<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.hotel.mapper.DormRoomMapper">
    <select id="selectAvailableRooms" resultType="com.neu.hotel.entity.DormRoom">
        SELECT * FROM biz_dorm_room WHERE deleted = 0 AND status = #{status}
        ORDER BY room_no ASC
    </select>
</mapper>
